<h1>博客</h1>

<div>
  <%= link_to "创建博客", new_blog_path, class: "btn btn-primary" %>
  <% if logged_in? %>
    <%= link_to "我的博客", blogs_user_path(current_user), class: "btn btn-default" %>
  <% end -%>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'blogs' %>
  </div>
</div>