<% if @user %>
  <h1>欢迎你, <%= @user.username %></h1>
<% else %>
  <h1>Circles 首页</h1>
<% end -%>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    var pageTitle = "首页";
  </script>
<% end -%>